<footer class="site-footer">
    <a id="scroll-to-top" class="scroll-to-top" href="#top-header" title="To the top"><em class="mdi mdi-chevron-up"></em><svg width="150" height="50" viewBox="0 0 39.687499 13.229167"><path d="M-.0035 296.999c9.007 0 11.8302-13.1833 19.8324-13.1852C27.8372 283.8118 30.636 297 39.683 297c9.047 0-48.6935-.001-39.6864-.001z" transform="translate(0,-283.77081)"></path></svg></a>
    <div class="widget-area">
        <div class="widget widget_logo">
            <h3><a href="index.html" class="footer-title">Geração Samuel</a></h3>
        </div>
        <div class="widget widget_nav_menu">
            <nav class="social-navigation">
                <ul class="menu">
                    <li><a href="https://twitter.com"><span class="screen-reader-text">Twitter profile</span></a></li>
                    <li><a href="https://instagram.com"><span class="screen-reader-text">Instagram profile</span></a></li>
                    <li><a href="https://youtube.com"><span class="screen-reader-text">YouTube page</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="widget widget_text">
            <div class="textwidget">
                <h3 class="widget-title">Não perca nossos episódios semanais. <p>Inscreva-se agora!</p></h3>
                <form class="mc4wp-form" method="post" action="index.html">
                    <div class="mc4wp-form-fields">
                        <p>Armazenado para algum texto</p>
                        <p class="one-line">
                            <label for="subscribe_email" class="sr-only">Email</label> <input type="email" name="email" id="subscribe_email" placeholder="Seu E-mail" required=""><input type="submit" value="Inscreva-se" class="button-color button-filled">
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© 2023 — Geração Samuel.</p>
    </div>
</footer>