<footer class="site-footer-gallery">
    <div class="wrapper">
        <a href="https://instagram.com/liviucerchez/" target="_blank" class="intro-gallery">
            <span class="intro-gallery-title">Find more personal moments <span class="highlight">on Instagram</span></span>
            <em class="intro-gallery-username">@liviucerchez</em>
        </a>
        <div class="gallery-photo">
            <a href="https://instagram.com/liviucerchez/" target="_blank">
                <img src="images/sample-540x540-3.jpg" width="540" height="540" loading="lazy" alt="">
                <span class="data">
                    <span class="meta">
                        <span class="likes"><em class="mdi mdi-heart"></em> <strong class="count">3</strong></span>
                    </span>
                </span>
            </a>
        </div>
        <div class="gallery-photo">
            <a href="https://instagram.com/liviucerchez/" target="_blank">
                <img src="images/sample-540x540-5.jpg" width="540" height="540" loading="lazy" alt="">
                <span class="data">
                    <span class="meta">
                        <span class="likes"><em class="mdi mdi-heart"></em> <strong class="count">5</strong></span>
                    </span>
                </span>
            </a>
        </div>
        <div class="gallery-photo">
            <a href="https://instagram.com/liviucerchez/" target="_blank">
                <img src="images/sample-540x540-6.jpg" width="540" height="540" loading="lazy" alt="">
                <span class="data">
                    <span class="meta">
                        <span class="likes"><em class="mdi mdi-heart"></em> <strong class="count">5</strong></span>
                    </span>
                </span>
            </a>
        </div>
        <div class="gallery-photo">
            <a href="https://instagram.com/liviucerchez/" target="_blank">
                <img src="images/sample-540x540-12.jpg" width="540" height="540" loading="lazy" alt="">
                <span class="data">
                    <span class="meta">
                        <span class="likes"><em class="mdi mdi-heart"></em> <strong class="count">2</strong></span>
                    </span>
                </span>
            </a>
        </div>
        <div class="gallery-photo">
            <a href="https://instagram.com/liviucerchez/" target="_blank">
                <img src="images/sample-540x540-13.jpg" width="540" height="540" loading="lazy" alt="">
                <span class="data">
                    <span class="meta">
                        <span class="likes"><em class="mdi mdi-heart"></em> <strong class="count">2</strong></span>
                    </span>
                </span>
            </a>
        </div>
        <div class="gallery-photo">
            <a href="https://instagram.com/liviucerchez/" target="_blank">
                <img src="images/sample-540x540-14.jpg" width="540" height="540" loading="lazy" alt="">
                <span class="data">
                    <span class="meta">
                        <span class="likes"><em class="mdi mdi-heart"></em> <strong class="count">2</strong></span>
                    </span>
                </span>
            </a>
        </div>
        <div class="gallery-photo">
            <a href="https://instagram.com/liviucerchez/" target="_blank">
                <img src="images/sample-540x540-4.jpg" width="540" height="540" loading="lazy" alt="">
                <span class="data">
                    <span class="meta">
                        <span class="likes"><em class="mdi mdi-heart"></em> <strong class="count">9</strong></span>
                    </span>
                </span>
            </a>
        </div>
        <div class="gallery-photo">
            <a href="https://instagram.com/liviucerchez/" target="_blank">
                <img src="images/sample-540x540-15.jpg" width="540" height="540" loading="lazy" alt="">
                <span class="data">
                    <span class="meta">
                        <span class="likes"><em class="mdi mdi-heart"></em> <strong class="count">12</strong></span>
                    </span>
                </span>
            </a>
        </div>
        <a href="https://instagram.com/liviucerchez/" target="_blank" class="outro-gallery"><span>Don't miss daily inspiration and updates</span></a>
    </div>
</footer>