<header id="top-header" class="site-header">
    <div class="wrapper">
        <div class="site-identity">
            <a href="index.html" class="custom-logo-link" rel="home" title="Visit homepage">
                <img src="{{url_for('static', filename='fonts/logo.svg')}}" class="custom-logo" width="131" height="36" alt="Geração Samueel">
                <img src="{{url_for('static', filename='fonts/logo-dark.svg')}}" class="custom-logo alt-version" width="131" height="36" alt="Geração Samuel">
            </a>
            <p class="site-description screen-reader-text">Premium Podcast HTML Template</p>
        </div>
        <div id="menu-toggle" class="mobile-menu-toggle">
            <a href="#menu-main" title="Toggle menu"><em class="mdi mdi-menu"></em><em class="mdi mdi-close"></em></a>
        </div>
        <nav class="main-navigation">
            <ul id="menu-main" class="menu">
                <li class="current-menu-item"><a href="/">Home</a></li>
                <li class="menu-item-has-children">
                    <a href="styleguide.html">Episódios<em class="mdi mdi-chevron-down"></em></a>
                    <ul class="sub-menu">
                        <li><a href="styleguide.html">Season 1</a></li>
                        <li><a href="styleguide.html">Season 2</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Estudo biblíco</a>
                            <ul class="sub-menu">
                                <li><a href="#">Mateus</a></li>
                                <li><a href="#">Lucas</a></li>
                                <li><a href="#">João</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class=""><a href="/">Blog</a></li>
                <li class=""><a href="/contato">Contato</a></li>
                <li class="menu-item-scheme">
                    <a href="#" title="Toggle color scheme"><em class="mdi mdi-weather-night"></em><em class="mdi mdi-white-balance-sunny"></em><span>Toggle color scheme</span></a>
                </li>
                <!-- <li class="menu-item-search">
                    <a href="#searchform" title="Toggle search"><em class="mdi mdi-magnify"></em><em class="mdi mdi-close"></em></a>
                    <form class="searchform" method="get" action="blog.html" role="search">
                        <label class="screen-reader-text">Search for:</label>
                        <input type="search" value="" name="s" placeholder="Search…">
                        <button type="submit"><em class="mdi mdi-magnify"></em><span class="screen-reader-text">Search</span></button>
                    </form>
                </li> -->
            </ul>
        </nav>
        <nav class="social-navigation">
            <ul class="menu">
                <li><a href="https://twitter.com" title="Twitter profile"><span class="screen-reader-text">Twitter profile</span></a></li>
                <li><a href="https://instagram.com" title="Instagram profile"><span class="screen-reader-text">Instagram profile</span></a></li>
                <li><a href="https://youtube.com" title="YouTube page"><span class="screen-reader-text">YouTube page</span></a></li>
            </ul>
        </nav>
    </div>
</header>