<header id="top-header" class="site-header">
    <div class="wrapper">
        <div class="site-identity">
            <a href="index.html" class="custom-logo-link" rel="home" title="Visit homepage"><img src="../../static/fonts/logo.svg" class="custom-logo" width="131" height="36" alt="Geração Samuel"><img src="../../static/fonts/logo-dark.svg" class="custom-logo alt-version" width="131" height="36" alt="Geração Samuel"></a>
        </div>
        <div id="menu-toggle" class="mobile-menu-toggle">
            <a href="#menu-main" title="Toggle menu"><em class="mdi mdi-menu"></em><em class="mdi mdi-close"></em></a>
        </div>
        <nav class="main-navigation">
            <ul id="menu-main" class="menu">
                <li class="menu-item-has-children current-menu-parent collapse">
                    <a href="index.html">Home<em class="mdi mdi-chevron-down"></em></a>
                    <ul class="sub-menu">
                        <li class="current-menu-item"><a href="index.html">Home - Audio</a></li>
                        <li><a href="index-video.html">Home - Video</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="episodes.html">Episodes<em class="mdi mdi-chevron-down"></em></a>
                    <ul class="sub-menu">
                        <li><a href="episodes.html">Episodes (sidebar)</a></li>
                        <li><a href="episodes-grid.html">Episodes (grid)</a></li>
                        <li><a href="episodes-list.html">Episodes (list)</a></li>
                        <li><a href="single-episode.html">Audio episode</a></li>
                        <li><a href="single-episode-video.html">Video episode</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="blog.html">Blog<em class="mdi mdi-chevron-down"></em></a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Browse posts</a></li>
                        <li><a href="single-post.html">Single post</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="shop.html">Shop<em class="mdi mdi-chevron-down"></em></a>
                    <ul class="sub-menu">
                        <li><a href="shop.html">Right sidebar (2 cols)</a></li>
                        <li><a href="shop-wide.html">Fullwidth (3 cols)</a></li>
                        <li><a href="shop-cart.html">Cart</a></li>
                        <li><a href="shop-checkout.html">Checkout</a></li>
                        <li><a href="single-product.html">Single product</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="styleguide.html">Features<em class="mdi mdi-chevron-down"></em></a>
                    <ul class="sub-menu">
                        <li><a href="styleguide.html">Styleguide</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Submenus</a>
                            <ul class="sub-menu">
                                <li><a href="#">Submenu item 1</a></li>
                                <li><a href="#">Submenu item 2</a></li>
                                <li><a href="#">Submenu item 3</a></li>
                            </ul>
                        </li>
                        <li><a href="404.html">404 not found</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
                <li class="menu-item-scheme">
                    <a href="#" title="Toggle color scheme"><em class="mdi mdi-weather-night"></em><em class="mdi mdi-white-balance-sunny"></em><span>Toggle color scheme</span></a>
                </li>
                <li class="menu-item-search">
                    <a href="#searchform" title="Toggle search"><em class="mdi mdi-magnify"></em><em class="mdi mdi-close"></em></a>
                    <form class="searchform" method="get" action="blog.html" role="search">
                        <label class="screen-reader-text">Search for:</label>
                        <input type="search" value="" name="s" placeholder="Search…">
                        <button type="submit"><em class="mdi mdi-magnify"></em><span class="screen-reader-text">Search</span></button>
                    </form>
                </li>
                <li class="menu-item-cart">
                    <a href="shop-cart.html" title="Shopping cart"><em class="mdi mdi-shopping-outline"></em><span class="cart-text">Shopping cart</span><span class="cart-total">3</span></a>
                </li>
            </ul>
        </nav>
        <nav class="social-navigation">
            <ul class="menu">
                <li><a href="https://twitter.com" title="Twitter profile"><span class="screen-reader-text">Twitter profile</span></a></li>
                <li><a href="https://instagram.com" title="Instagram profile"><span class="screen-reader-text">Instagram profile</span></a></li>
                <li><a href="https://youtube.com" title="YouTube page"><span class="screen-reader-text">YouTube page</span></a></li>
            </ul>
        </nav>
    </div>
</header>
