<!DOCTYPE html>
<html lang="pt-br" class="js no-touchevents csstransitions" data-scheme="alt">
	<head>
		<title>Geração Samuel - Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="{{url_for('static', filename='js/detect-support.js')}}"></script>
		<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEUAAAD9t1DYlDDHAAAAAXRSTlMAQObYZgAAACBJREFUCNdjAAI2CEpgSAOiNBCq/wdEEDZQECgFUQMEAM3ZCJuu6hSoAAAAAElFTkSuQmCC">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""><link href="{{url_for('static', filename='css/css2.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='css/materialdesignicons.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/fancybox.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	</head>

	<body class="home navbar-sticky navbar-transparent navbar-is-sticky" style="--spacing--nav-height:90px; --spacing--nav-height-sticky:90px;"></body>
    	
		{% include "components/navbar.html" %}

        {% block content %}{% endblock %}

		{% include "components/footer.html" %}

		<script src="{{url_for('static', filename='js/fancybox.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/functions.js')}}"></script>

	</body>
</html>